Django==1.7.11
django-compressor<2.0
PyCrypto
PyOpenSSL
python-dateutil
nameparser>=0.2.8
-e git+https://github.com/uw-it-aca/uw-restclients#egg=RestClients
-e git+https://github.com/uw-it-aca/django-supporttools#egg=django_supporttools
-e git+https://github.com/uw-it-aca/django-userservice#egg=Django-UserService
-e git+https://github.com/uw-it-aca/authz_group#egg=AuthZ-Group
-e git+https://github.com/uw-it-aca/django-aws-message#egg=django_aws_message
