{% extends 'supporttools/base.html' %}

{% load compress %}
{% load staticfiles %}

{% block extra_css %}
<!-- add admin mobile styles -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/jquery-ui-1.9.2.custom.min.css' %}" />
<link rel="stylesheet" type="text/less" href="{% static 'provisioner/css/mobile.less' media='screen, handheld' %}" />
{% endcompress %}

{% if not request.is_mobile and not request.is_tablet %}
<!-- add admin desktop styles -->
{% compress css %}
<link rel="stylesheet" type="text/less" href="{% static 'provisioner/css/desktop.less' media='screen and (min-width: 480px)' %}" />
{% endcompress %}
{% endif %}
{% endblock extra_css %}

{% block content %}
{% csrf_token %}

<div id="main" role="main">
    <div class="inner">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
window.provisioner = {
    event_update_frequency: {{EVENT_UPDATE_FREQ}},
    subscription_update_frequency: {{SUBSCRIPTION_UPDATE_FREQ}}
};
</script>

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script src="{% static 'vendor/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="{% static 'vendor/js/moment.min.js' %}"></script>
{% compress js %}
<script src="{% static 'provisioner/js/main.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
