{% extends 'provisioner/base.html' %}
{% load templatetag_handlebars %}

{% block admin_content %}

<h2>Status and General Health</h2>

<div class="event-freq clearfix">
    <div id="event-tab-1" class="pull-left" style="width:65%;">
        <h3>Event frequency <span id="event-count" class="badge">0</span></h3>
        <div id="event-graph"></div>
        <p>Highlight to zoom!</p>
    </div>
    <div id="event-tab-2" class="pull-right" style="width:35%;">
        <h3>Event Rate</h3>
        <div id="event-gauge"></div>
    </div>
</div>

<h3>Provisioning Users <span id="user-count" class="badge">0</span></h3>
<p class="subscription-update pull-right">As of <span></span>, <a href="javascript:void(0);">refresh</a> in <span></span></p>
<div class="subscriptions pull-left">
    <div class="query-tabs clearfix">
      <table id="subscription-table" class="admin-table table table-striped">
        <thead>
          <tr>
            <th>Net Id</th>
            <th>Subscription</th>
            <th>State</th>
            <th>Modified</th>
            <th>In Process</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
</div>

{% include "handlebars/provisioner/subscription_table_row.html" %}
{% endblock %}
